.actor-name {
  font-size: larger;
  color: black;
}

.poster-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.poster-card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 50px;
}

.poster {
  width: 333px;
  height: 500px;
  border-color: black;
  border-style: solid;
}

.poster.correct {
  border-color: green;
}

.poster.failed {
  border-color: red;
}

.poster-img {
  width: 333px;
  height: 500px;
}

.title {
  display: flex;
  flex-direction: column;
  margin-top: -50px;
  justify-content: center;
}

.fail {
  font-size: xx-large;
  color: red;
}

.guess-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.box {
  width: 500px;
  height: 15px;
}
