.actor-name {
  font-size: larger;
  color: black;
}

.poster-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.poster-card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 50px;
}

.poster {
  width: 200px;
  height: 400px;
  border-color: black;
  border-style: solid;
}

.title {
  margin-top: -50px;
  justify-content: center;
}

.guess-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.box {
  width: 500px;
  height: 15px;
}
