.background {
  min-height: 100svh;
  background-color: rgb(75, 75, 91);
}

.title-row {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.actor-name {
  font-size: larger;
  color: black;
  grid-column: 2;
}

.stats-button {
  grid-column: 3;
  justify-self: end;
  background-color: rgb(75, 75, 91);
  border: none;
  cursor: pointer;
}

.poster-container {
  display: flex;
  justify-content: center;
  gap: 47px;
}

.poster-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.poster {
  width: 333px;
  height: 500px;
  border-color: black;
  border-style: solid;
  border-width: 5px;
}

.poster.correct {
  border-color: green;
}

.poster.failed {
  border-color: red;
}

.poster-img {
  width: 333px;
  height: 500px;
}

.film-title {
  display: flex;
  flex-direction: column;
  max-width: 343px;
  margin-top: -50px;
  justify-content: center;
  color: black;
  font-size: large;
}

.strikes {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 15px;
}

.strike-box {
  display: flex;
  height: 50px;
  width: 50px;
  border-style: solid;
  border-radius: 8px;
  border-color: black;
  background-color: darkred;
}

.strike-box-empty {
  display: flex;
  height: 50px;
  width: 50px;
  border-style: solid;
  border-radius: 8px;
  border-color: black;
}

.guess-bar-and-button {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2px;
}

.give-up-container {
  display: flex;
  justify-content: flex-start;
  width: 90px;
}

.give-up-button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 35px;
  width: 75px;
  margin-top: 20px;
  border-style: solid;
  border-color: black;
  border-radius: 8px;
  font-size: medium;
  cursor: pointer;
  background-color: rgb(211, 82, 82);
}

.guess-bar-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 500px;
  margin-left: 92px;
}

.guess-bar {
  width: 500px;
  box-sizing: border-box;
  height: 35px;
  border-color: black;
  border-style: solid;
  border-radius: 8px;
  font-size: medium;
}

.missed-guess {
  margin-top: 10px;
  font-size: large;
  color: black;
}

.end-text {
  margin-top: 10px;
  font-size: larger;
  color: black;
}

.stats-background {
  background-color: rgb(96, 34, 34);
  height: 100vh;
}

.stats-title {
  grid-column: 2;
  font-size: x-large;
  color: black;
  margin-bottom: 20px;
}

.stats-title-row {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.home-button {
  grid-column: 3;
  justify-self: end;
  background-color: rgb(96, 34, 34);
  border: none;
  cursor: pointer;
}

.all-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  margin: 0 auto;
  gap: 20px;
  /* border-style: solid;
  border-color: black; */
}

.top-stats {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin-left: 2px;
  color: black;
}

.distro {
  width: 700px;
}

.distro-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.distro-label {
  width: 30px;
  text-align: right;
  color: black;
}

.distro-track {
  flex: 1;
}

.distro-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 15px;
  height: 30px;
  background: rgb(152, 50, 50);
  color: black;
}
